    <div id="board">
      <div id="row0">
        <span id="cell00" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell01" class="col1">
          <input type="text" size="1"></input>        
        </span>
        <span id="cell02" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell03" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell04" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell05" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell06" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell07" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell08" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row1">
        <span id="cell10" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell11" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell12" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell13" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell14" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell15" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell16" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell17" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell18" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row2">
        <span id="cell20" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell21" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell22" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell23" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell24" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell25" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell26" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell27" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell28" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row3">
        <span id="cell30" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell31" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell32" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell33" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell34" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell35" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell36" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell37" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell38" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row4">
        <span id="cell40" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell41" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell42" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell43" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell44" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell45" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell46" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell47" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell48" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row5">
        <span id="cell50" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell51" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell52" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell53" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell54" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell55" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell56" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell57" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell58" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row6">
        <span id="cell60" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell61" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell62" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell63" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell64" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell65" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell66" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell67" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell68" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row7">
        <span id="cell70" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell71" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell72" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell73" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell74" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell75" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell76" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell77" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell78" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
      <div id="row8">
        <span id="cell80" class="col0">
          <input type="text" size="1"></input>
        </span>
        <span id="cell81" class="col1">
          <input type="text" size="1"></input>
        </span>
        <span id="cell82" class="col2">
          <input type="text" size="1"></input>
        </span>
        <span id="cell83" class="col3">
          <input type="text" size="1"></input>
        </span>
        <span id="cell84" class="col4">
          <input type="text" size="1"></input>
        </span>
        <span id="cell85" class="col5">
          <input type="text" size="1"></input>
        </span>
        <span id="cell86" class="col6">
          <input type="text" size="1"></input>
        </span>
        <span id="cell87" class="col7">
          <input type="text" size="1"></input>
        </span>
        <span id="cell88" class="col8">
          <input type="text" size="1"></input>
        </span>
      </div>
    </div>
