<%= form_tag '/sudoku/1', remote: true, method: :put, authenticity_token: true do %>
  <div id="board">
    <div id="row0">
      <span id="cell00" class="row0 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell01" class="row0 col1">
        <input type="text" size="1"></input>        
      </span>
      <span id="cell02" class="row0 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell03" class="row0 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell04" class="row0 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell05" class="row0 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell06" class="row0 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell07" class="row0 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell08" class="row0 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row1">
      <span id="cell10" class="row1 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell11" class="row1 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell12" class="row1 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell13" class="row1 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell14" class="row1 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell15" class="row1 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell16" class="row1 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell17" class="row1 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell18" class="row1 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row2">
      <span id="cell20" class="row2 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell21" class="row2 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell22" class="row2 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell23" class="row2 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell24" class="row2 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell25" class="row2 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell26" class="row2 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell27" class="row2 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell28" class="row2 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row3">
      <span id="cell30" class="row3 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell31" class="row3 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell32" class="row3 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell33" class="row3 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell34" class="row3 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell35" class="row3 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell36" class="row3 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell37" class="row3 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell38" class="row3 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row4">
      <span id="cell40" class="row4 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell41" class="row4 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell42" class="row4 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell43" class="row4 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell44" class="row4 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell45" class="row4 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell46" class="row4 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell47" class="row4 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell48" class="row4 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row5">
      <span id="cell50" class="row5 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell51" class="row5 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell52" class="row5 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell53" class="row5 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell54" class="row5 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell55" class="row5 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell56" class="row5 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell57" class="row5 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell58" class="row5 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row6">
      <span id="cell60" class="row6 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell61" class="row6 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell62" class="row6 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell63" class="row6 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell64" class="row6 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell65" class="row6 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell66" class="row6 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell67" class="row6 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell68" class="row6 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row7">
      <span id="cell70" class="row7 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell71" class="row7 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell72" class="row7 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell73" class="row7 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell74" class="row7 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell75" class="row7 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell76" class="row7 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell77" class="row7 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell78" class="row7 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
    <div id="row8">
      <span id="cell80" class="row8 col0">
        <input type="text" size="1"></input>
      </span>
      <span id="cell81" class="row8 col1">
        <input type="text" size="1"></input>
      </span>
      <span id="cell82" class="row8 col2">
        <input type="text" size="1"></input>
      </span>
      <span id="cell83" class="row8 col3">
        <input type="text" size="1"></input>
      </span>
      <span id="cell84" class="row8 col4">
        <input type="text" size="1"></input>
      </span>
      <span id="cell85" class="row8 col5">
        <input type="text" size="1"></input>
      </span>
      <span id="cell86" class="row8 col6">
        <input type="text" size="1"></input>
      </span>
      <span id="cell87" class="row8 col7">
        <input type="text" size="1"></input>
      </span>
      <span id="cell88" class="row8 col8">
        <input type="text" size="1"></input>
      </span>
    </div>
  </div>
<% end %>